@tailwind base;
@tailwind components;
@tailwind utilities;

a{
    text-decoration: none !important;
}

nav a:hover,
.scroll-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* --------------------------- */

.logoZaha path {
    fill: white;
    transition: all 0.5s;
}

.logoZaha:hover path {
    fill: rgb(2, 36, 49);
}

.footer_logoZaha .logoZaha path {
    fill: rgb(6 182 212);
    transition: all 0.5s;
}
.footer_logoZaha .logoZaha:hover path {
    fill: white;
}

/* --------------------------- */

/* header nav footer------------------------------ */
.nav_text_ul a {
    transition: all 0.5s;
    color: rgb(6 182 212);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    padding: 5px 0;
}

.nav_text_ul a:hover {
    text-decoration: none;
    color: rgb(103 232 249);
    font-weight: 700;
    border-bottom: 1px solid rgb(103 232 249);
    padding: 5px 5px;
}

.nav_text_ul .active {
    color: white;
    font-weight: 700;
    border-bottom: 1px solid white;
    padding: 5px 0;
}

.NavFooter_text_a {
    @apply text-cyan-600 hover:text-cyan-300 duration-500;
}

nav .nav_ava {
    @apply divide-gray-100 rounded-lg shadow-xl duration-500 border border-stone-200 bg-white text-black dark:border-none dark:bg-white dark:text-black;
}

.DangKy {
    display: block;
}
.nav_block {
    display: block;
}
@media screen and (max-width: 1023px) {
    .DangKy {
        display: none;
    }
    .nav_block {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .nav_block {
        display: block;
    }
}


/* --------------------------- */

/* video------------------------------ */
.videoHome_play-pause,
.videoHome_volume {
    @apply text-white w-8 h-8 rounded-full bg-transparent hover:bg-black/80 border border-white/50 hover:border-white;
}

/* VIDEO + Sóng Wave------------- */

.video_banner {
    position: relative;
}

.video_wave1,
.video_wave2,
.video_wave3 {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    z-index: 1;
}
.video_wave2 {
    transform: scaleX(-1);
}

.video_wave1 .shape path {
    fill: rgba(255, 255, 255, 0.5);
}

.video_wave2 .shape path {
    fill: rgba(255, 255, 255, 0.7);
}

.video_wave3 .shape path {
    fill: rgba(255, 255, 255, 1);
}

.Card_video {
    position: absolute;
    width: 60%;
    margin: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

@media screen and (max-width: 1200px) {
    .Card_video {
        position: relative;
        width: 100%;
        z-index: 2;
        margin: 20px 0;
    }

    .video_wave1,
    .video_wave2,
    .video_wave3 {
        display: none;
    }
}

/* TimKiemKhoa------------------------------ */
.TimKiemKhoa {
    @apply text-center text-stone-700 hover:text-cyan-500 border-b-2 border-transparent hover:border-cyan-300 duration-700 pb-2 mx-6 xl:hover:mx-10;
}

 .Datepicker .relative {
    width: 18rem;
    z-index: 100;

}
.Datepicker .relative input::placeholder {
    color: black !important;
}
.Datepicker div div:nth-of-type(1) div:nth-of-type(2) {
    background-color: white;
    border-radius: 30px;
    border: none;
}
.Datepicker .relative input {
    @apply bg-transparent dark:bg-transparent text-black dark:text-black border-none dark:border-none rounded-none placeholder-gray-400 focus:ring-0 disabled:opacity-40 disabled:cursor-not-allowed font-bold;
}
.Datepicker .relative button {
    @apply text-black font-bold;
} 

.Datepicker .relative .transition-all .rounded-lg{
    box-shadow: 0 8px 5px rgb(0 0 0 / 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.Datepicker .relative .transition-all .rounded-lg .items-stretch .grid .bg-blue-100{
    background-color: rgba(6, 181, 212, 0.2);
}
.Datepicker .relative .transition-all .rounded-lg .items-stretch .grid .bg-blue-500{
    background-color: rgb(6, 181, 212);
}

.TimKiem {
    @apply py-2 rounded-none bg-transparent hover:bg-transparent hover:text-transparent hover:text-black lg:bg-stone-200 lg:hover:bg-cyan-500 lg:hover:text-white duration-500;
}

/* @media screen and (max-width: 890px) {
    .Datepicker .relative {
        width: auto;
    }
} */



/* Icon Chi tiết phòng - tiện nghi ------------------------------ */
.icon_TienNghi svg{
    fill: black;
    transition: all 0.5s;
}
.icon_TienNghi:hover svg{
    fill: rgb(6 182 212);
}

/* -------------- BURGER CSS */
.custom-burger-icon {
    @apply text-cyan-600 hover:text-cyan-300 bg-white dark:bg-white duration-500;
}
/* Màu của placehoder cuốn lịch */
/* CSS cho placeholder trong Datepicker */
.CUSTOM_CSS {
    color: black;
}

.BanTay{
    cursor: pointer;
}

#Modal_DangNhap,
#Modal_DangKy,
#Modal_ThongTinNguoiDung {
    background-color: rgba(0, 0, 0, 0.9);
}

#Modal_DangNhap > div,
#Modal_DangKy > div,
#Modal_ThongTinNguoiDung > div {
    background-color: transparent;
    border: none;
    border-radius: 50px;
}


.nav_admin_sideBar > div {
    background-color: white;
}
